<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


  <variable name="myvar" value="myvalue"/>

  
  <targets>

    
    <target xsi:type="File" name="f" fileName="${environment:LOG_DIRECTORY}/CRM-${shortdate}.txt"
            layout="${longdate} | ${uppercase:${level}} | ${callsite} ${message} ${newline}" />
    
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="f" />
  </rules>
</nlog>
